/* Default */
@media (min-width:0) {

    /* Section-Title */
    .section-title {
        font-size: 32px;
        margin-bottom: 45px;
    }

    .section-title span {
        font-size: 32px;
    }

    .spaceY {
        padding: 40px 0;
    }

    .content-boxB {
        margin-bottom: 40px;
    }

    /* button */
    .body-btn {
        font-size: 14px;
        padding: 12px 24px;
        line-height: normal;
    }

    .sub-title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    /* ----------------------------------------------------------------------------------- */

    /* Mobile Header */

    .mobile-header .main-menuM li a {
        font-size: 14px;
        padding: 12px 24px;
        line-height: normal;
    }

    /* Home */
    .home-banner .banner-box .img-box img {
        max-width: 150px;
    }

    .home-banner .banner-box .text-part {
        margin-top: 24px;
    }

    .home-banner .banner-box .text-part p {
        font-size: 14px;
        line-height: 26px;
    }

    .home-banner .banner-box .text-part .info-btn a {
        width: 75%;
    }


    /* About */
    /* About Me */
    .about .about-me .about-text p {
        line-height: 26px;
    }

    .about p,
    span {
        font-size: 14px;
    }

    /* Counter (4) */
    .about .counter .counter-box {
        margin-top: 30px;
    }

    /* Services */
    .services .my-services .box .card-info p {
        font-size: 14px;
    }

    #tms-1 .box .name-box {
        font-size: 14px;
    }

    /* Portfolio */
    .portfolio .top-menu li {
        width: 48%;
    }

    .portfolio .top-menu li a {
        display: block !important;
        font-size: 14px;
    }


    /* Blog */
    .blog .box .text-part p {
        font-size: 14px;
    }

    /* Contact */
    .contact p,
    a {
        font-size: 14px;
    }

    /* Footer */
    footer p {
        font-size: 14px;
    }

}

/* extra Small */
@media (min-width:340px) {}

/* small */
@media (min-width:575px) {

    /* Section-Title */
    .section-title {
        font-size: 36px;
    }

    .section-title span {
        font-size: 36px;
    }

    .sub-title {
        font-size: 28px;
        margin-bottom: 42px;
    }

    /* ----------------------------------------------------------------------------------- */

    /* Home */
    .home-banner .banner-box .text-part .info-btn a {
        width: auto;
    }

    /* Portfolio */
    .portfolio .top-menu li {
        width: auto;
    }

}

/* Medium */
@media (min-width:767px) {

    /* Section-Title */
    .section-title {
        font-size: 42px;
        margin-bottom: 60px;
    }

    .section-title span {
        font-size: 42px;
    }

    .spaceY {
        padding: 60px 0;
    }

    .content-boxB {
        margin-bottom: 50px;
    }

    .body-btn {
        font-size: 15px;
        padding: 12px 34px;
    }

    /* ----------------------------------------------------------------------------------- */

    /* Mobile Header */

    .mobile-header .main-menuM li a {
        font-size: 15px;
        padding: 12px 34px;
    }

    /* Home */
    .home-banner .banner-box .img-box img {
        max-width: 200px;
    }

    .home-banner .banner-box .text-part p {
        font-size: 15px;
        line-height: 30px;
    }


    /* About */
    .about .about-me .about-text p {
        line-height: 30px;
    }

    .about p,
    span {
        font-size: 15px;
    }

    /* Services */
    .services p {
        font-size: 15px;
    }

    #tms-1 .box .name-box {
        font-size: 15px;
    }

    /* portfolio */
    .portfolio .top-menu li a {
        font-size: 15px;
    }

    /* Blog */
    .blog .box .text-part p {
        font-size: 15px;
    }

    /* Contact */
    .contact p,
    a {
        font-size: 15px;
    }

    /* Footer */
    footer p {
        font-size: 15px;
    }

}

/* Large */
@media (min-width:992px) {


    .h-spacer {
        max-width: 700px !important;
    }

    /* ----------------------------------------------------------------------------------- */

}

/* Extra Large */
@media (min-width:1200px) {

    .h-spacer {
        max-width: 915px !important;
    }


    /* ----------------------------------------------------------------------------------- */

    /* Home */
    .home-banner .banner-box .img-box img {
        max-width: 300px;
    }

    .home-banner .banner-box .text-part {
        margin-top: 0;
        margin-left: 48px;
    }

    /* Counter (4) */

    .about .counter .counter-box {
        margin-top: 0px;

    }
}

/* Extra Extra Large */
@media (min-width:1400px) {

    .h-spacer {
        max-width: 1045px !important;
    }
}

/* Extra Extra Extra Large */
@media (min-width:1520px) {

    .h-spacer {
        max-width: 1140px !important;
    }
}